<!doctype html>
<html>
<head>
  <title>HomePage</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="text-center">
  <div class="mt-4">
    <h1 class="text-4xl sm:text-6xl mb-6 font-bold font-serif text-blue-600 mt-2">
      Covid Vaccination Booking
    </h1>
  </div>
  <div class="flex flex-col mt-12">
    <a class="my-2" href="/register"><button class="border-2 border-blue-500 p-2 mt-4 bg-cyan-600 font-bold text-lg text-white w-36">User Signup</button></a>
    <a class="my-2 " href="/userlogin"><button class="border-2 border-blue-500 p-2 mt-4 bg-cyan-600 font-bold text-lg text-white w-36">User Login</button></a>
    <a class="my-2" href="/adminlogin"><button class="border-2 border-blue-500 p-2 mt-4 bg-cyan-600 font-bold text-lg text-white w-36">Admin Login</button></a>
  </div>
</body>
</html>